<!-- <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">{{:: 'toggle-navigation' | translate}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" onclick="location.href = authUrl"></a>
</div> -->

<!-- <div class="collapse navbar-collapse" collapse="navCollapsed">
    <ul class="nav navbar-nav navbar-utility">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="pficon pficon-user"></span>
                {{auth.user.displayName|capitalize}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a data-ng-click="auth.authz.accountManagement()" href="">{{:: 'manage-account' | translate}}</a>
                </li>
                <li><a href="#/server-info">{{:: 'server-info' | translate}}</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="auth.authz.logout()">{{:: 'sign-out' | translate}}</a></li>
            </ul>
        </li>
    </ul>
</div> -->


<header aria-label="SCC" class="bx--header">

    <a class="bx--header__name">
        <span class="bx--header__name--prefix">IBM Z Security and Compliance Center</span>&nbsp;
    </a>

    <button aria-label="User" tabindex="0" class="bx--header__action bx--btn bx--btn--primary bx--tooltip--hidden bx--btn--icon-only bx--tooltip__trigger bx--tooltip--a11y bx--btn--icon-only--bottom bx--tooltip--align-center" type="button"><div class="bx--assistive-text">User</div><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M16,8a5,5,0,1,0,5,5A5,5,0,0,0,16,8Z"></path><path d="M16,2A14,14,0,1,0,30,16,14.0158,14.0158,0,0,0,16,2Zm7.9925,22.9258A5.0016,5.0016,0,0,0,19,20H13a5.0016,5.0016,0,0,0-4.9925,4.9258,12,12,0,1,1,15.985,0Z"></path></svg></button>

    <div class="collapse navbar-collapse" collapse="navCollapsed" >
        <ul class="nav navbar-nav navbar-utility" id="ibm-navbar">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="ibm-dropdown-toggle" data-toggle="dropdown">
                    <span class="pficon pficon-user"></span>
                    {{auth.user.displayName|capitalize}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a data-ng-click="auth.authz.accountManagement()" href="">{{:: 'manage-account' | translate}}</a>
                    </li>
                    <li><a href="#/server-info">{{:: 'server-info' | translate}}</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="auth.authz.logout()">{{:: 'sign-out' | translate}}</a></li>
                </ul>
            </li>
        </ul>
    </div>

</header>

