body{
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.login-pf-page {
    padding-top: 0px;
}

.login-pf body {
    background: linear-gradient(225deg, black, #011b70e0);
    background-size: cover;
    height: 100%;
    color: #f4f4f4;
}


/* Login page header classes */
.bx--header {
    top: 0;
    right: 0;
    left: 0;
    z-index: 8000;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #161616;
    border-bottom: 1px solid #393939;
    width: 100%;
}

.bx--header__name {
    padding-left: 16px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.16px;
    line-height: 18.06px;
}

/*** ends ***/

/* Login page sub-heading */

.card-pf{
    background: transparent;
    /* padding-left: 32px !important; */
    padding-top: 32px !important;
}

#kc-page-title{
    margin:0;
}


#login-page__heading{
    height: 40px;
    width: 440px;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 400;
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

#login-page__subheading{
    padding-top: 16px;
    height: 60px;
    width: 512px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

.login-page__login{
    padding-top: 32px;
    height: 52px;
    width: 42px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

/*** ends ***/


/* Login page form */

#kc-content{
    padding-top: 16px;
    width: 352px;
    margin-bottom: 2rem;
}

/* .form-group{
    font-size:  14px;
    font-weight:  400;
    line-height:  18px;
    letter-spacing:  0.16px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
} */

.control-label{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.34;
    letter-spacing: 0.32px;
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1rem;
    vertical-align: baseline;
}

.form-control{
    -webkit-text-fill-color: #f4f4f4;
    caret-color: #f4f4f4;
    box-shadow: 0 0 0 100px #3e3d3d inset;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.16px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px !important;
    padding: 0 1rem;
    border: none;
    border-bottom: 1px solid  #8d8d8d;
    background-color:  #f4f4f4;
    color:  #161616;
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
    border-radius: 0;
    font-family: inherit;
    font-size: 14px;
}

.form-control:active, .form-control:focus {
    outline: 2px solid  #0f62fe;
    outline-offset: -2px;
    box-shadow: 0 0 0 100px #3e3d3d inset;
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.bx--password-input-wrapper{
    padding-top: 16px;
}

.login-pf-page .btn-primary{
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background:  #0f62fe;
    color:  #ffffff;
    top: 3rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.16px;
    position: relative;
    display: inline-flex;
    max-width: 300px;
    width: 112px !important;
    min-height: 48px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: calc(0.875rem - 3px) 63px calc(0.875rem - 3px) 15px;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    text-align: left;
    text-decoration: none;
    transition: background 70ms cubic-bezier(0, 0, 0.38, 0.9), box-shadow 70ms cubic-bezier(0, 0, 0.38, 0.9), border-color 70ms cubic-bezier(0, 0, 0.38, 0.9), outline 70ms cubic-bezier(0, 0, 0.38, 0.9);
    vertical-align: top;
}

.login-pf-page .btn-primary:hover {
    color: #ffffff;
    outline: none;
    outline-offset: 0;
}
.login-pf-page .btn-primary:active {
    background-color:#002d9c;
    outline: none;
    outline-offset: 0;
}
.login-pf-page .btn-primary:focus {
    border-color:  #0f62fe;
    box-shadow: inset 0 0 0 1px  #0f62fe, inset 0 0 0 2px #ffffff;
    outline: none;
    outline-offset: 0;
}